<header class="bg-white border-b border-gray-200">
  <div class="max-w-7xl mx-auto px-4 py-5 flex items-center justify-between">
    <div class="logo">
      <a href="/"><img src="{{ url_for('static', filename='image/logo.png') }}" alt="ADVANCE MOS RELAY Co., Ltd." class="h-10"></a>
    </div>
    <nav>
      <ul class="flex space-x-5 font-bold text-gray-800">
        <li><a href="/core-values">核心價值</a></li>
        <li><a href="/company-story">企業故事</a></li>
        <li><a href="/products">產品列表</a></li>
        <li><a href="/team">團隊結構</a></li>
        <li><a href="/services">服務項目</a></li>
        <li><a href="/contact">聯絡我們</a></li>
      </ul>
    </nav>
  </div>
</header>
